<mat-stepper linear #stepper>
  <mat-step [stepControl]="partyDataFormGroup">
    <form [formGroup]="partyDataFormGroup">
      <ng-template matStepLabel>Lugar</ng-template>
      <mat-form-field>
        <mat-label>Lugar</mat-label>
        <input matInput formControlName="place" required />
        <mat-error>Lugar es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input
          matInput
          [matDatepicker]="dp"
          formControlName="dateParty"
          required
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Presupuesto</mat-label>
        <input
          matInput
          formControlName="budget"
          type="number"
          min="0"
          required
        />
        <mat-error>Presupuesto es obligatorio</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="peopleFormGroup">
    <form [formGroup]="peopleFormGroup">
      <ng-template matStepLabel>
        <div>Participantes</div>
      </ng-template>
      <div>
        <button mat-button (click)="addPerson()">Añadir participante</button>
      </div>
      <ng-container formArrayName="people">
        <ng-container
          *ngFor="let peopleForm of people.controls; let index = index"
        >
          <div class="data-people__data-form" [formGroupName]="index">
            <div class="data-people__data-container">
              <span>{{ index + 1 }}</span>
              <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" />
                <mat-error>El nombre es obligatorio</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
                <mat-error>El email no es correcto.</mat-error>
              </mat-form-field>
              <button
                mat-raised-button
                color="warn"
                (click)="deletePerson(index)"
              >
                Eliminar
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Confirmar información</ng-template>
    <div class="resume__data">
      <span
        >Lugar del evento:
        <span class="resume__people-data">{{
          partyDataFormGroup.value.place
        }}</span></span
      >
      <span
        >Fecha del evento:
        <span class="resume__people-data">{{
          partyDataFormGroup.value.dateParty | date
        }}</span></span
      >
      <span
        >Presupuesto del evento:
        <span class="resume__people-data">{{
          partyDataFormGroup.value.budget
        }}</span></span
      >
    </div>
    <div class="resume__people-container">
      Participantes:
      <div *ngFor="let people of people.value" class="resume__people">
        <span
          >Nombre:
          <span class="resume__people-data">{{ people.name }}</span></span
        >
        <span
          >Email:
          <span class="resume__people-data">{{ people.email }}</span></span
        >
      </div>
    </div>
    <div>
      <button mat-button (click)="sendData()">Done</button>
      <button type="button" mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
