<div class="form-container">
  <form [formGroup]="dataForm" (ngSubmit)="sendData()">
    <div class="data-party">
      <h2>Datos de la fiesta:</h2>
      <span class="subtitle"
        >Introducir el lugar, la fecha y el presupuesto del evento.</span
      >
      <div class="data-party__data">
        <div class="data-party__input-container">
          <label>Lugar: </label>
          <input type="text" [formControl]="place" autocomplete="off" />
          <div
            *ngIf="place.errors && isValidForm != null && !isValidForm"
            [ngClass]="'error'"
          >
            <div *ngIf="place.errors['required']">Lugar es obligatorio</div>
            <div *ngIf="place.errors['minlength']">
              Lugar debe de tener al menos 3 caracteres.
            </div>
          </div>
        </div>
        <div class="data-party__input-container">
          <label>Fecha: </label>
          <input type="date" [formControl]="dateParty" />
          <div
            *ngIf="dateParty.errors && isValidForm != null && !isValidForm"
            [ngClass]="'error'"
          >
            <div *ngIf="dateParty.errors['required']">
              Fecha es obligatorio.
            </div>
          </div>
        </div>
        <div class="data-party__input-container">
          <label>Presupuesto: </label>
          <input type="number" [formControl]="budget" min="0" />
          <div
            *ngIf="budget.errors && isValidForm != null && !isValidForm"
            [ngClass]="'error'"
          >
            <div *ngIf="budget.errors['required']">
              Presupuesto es obligatorio.
            </div>
            <div *ngIf="budget.errors['min']">
              Presupuesto tiene que ser mayor o igual que 0.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="data-people">
      <h2>Datos de los integrantes:</h2>
      <span class="subtitle"
        >Introducir el nombre y el email de los participantes.</span
      >
      <span class="subtitle"
        >Son necesarios 3 personas para hacer el sorteo.</span
      >
      <div class="data-people__btn-container">
        <button
          class="data-people__btn btn"
          (click)="addPerson()"
          mat-raised-button
        >
          Añadir más
        </button>
      </div>
      <div class="data-people__data">
        <ng-container formArrayName="people">
          <ng-container
            *ngFor="let peopleForm of people.controls; let index = index"
          >
            <div class="data-people__data-form" [formGroupName]="index">
              <div class="data-people__data-container">
                <span>{{ index + 1 }}</span>
                <label>Nombre: </label>
                <input formControlName="name" type="text" autocomplete="off" />
                <label>Email: </label>
                <input formControlName="email" type="text" autocomplete="off" />
                <button
                  mat-raised-button
                  color="warn"
                  (click)="deletePerson(index)"
                >
                  Eliminar
                </button>
              </div>
              <div
                *ngIf="
                  people.controls[index].get('name')?.errors &&
                  isValidForm != null &&
                  !isValidForm
                "
                [ngClass]="'error'"
              >
                <div
                  *ngIf="people.controls[index].get('name')?.errors?.['required']"
                >
                  Nombre es obligatorio.
                </div>
              </div>
              <div
                *ngIf="
                  people.controls[index].get('email')?.errors &&
                  isValidForm != null &&
                  !isValidForm
                "
                [ngClass]="'error'"
              >
                <div
                  *ngIf="people.controls[index].get('email')?.errors?.['required']"
                >
                  Email es obligatorio.
                </div>
                <div
                  *ngIf="people.controls[index].get('email')?.errors?.['pattern']"
                >
                  Email no está escrito correctamente.
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <input
      class="btn"
      mat-raised-button
      type="submit"
      color="primary"
      value="Sortear"
    />
  </form>
</div>
